doctype html
html
  head
    title='React Playground'
    meta(charset='utf8')
    include includes/head
  body
    include includes/header
    main#main
      section index
    include includes/footer
    include includes/scripts